.DS_Store
/HOME/.private_profile
/HOME/.config/karabiner/automatic_backups/
/HOME/.config/configstore/
/HOME/.config/gh/
/HOME/.config/iterm2/
/HOME/.config/PlistEDPlus/
/HOME/.config/neofetch/
/HOME/.config/qBittorrent/
/Alfred.alfredpreferences
